ci:
    autoupdate_schedule: quarterly

repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: 'v0.0.276'
      hooks:
        - id: ruff
          args: ["--fix", "--show-fixes"]

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
        - id: check-yaml
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-docstring-first

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 23.3.0
      hooks:
        - id: black

    - repo: https://github.com/executablebooks/mdformat
      rev: 0.7.16
      hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-black
          - mdformat-myst

    - repo: https://github.com/nbQA-dev/nbQA
      rev: 1.7.0
      hooks:
          - id: nbqa-black
          - id: nbqa-ruff
            args: [--fix]

    - repo: https://github.com/kynan/nbstripout
      rev: 0.6.1
      hooks:
        - id: nbstripout
          args: [--extra-keys=metadata.kernelspec metadata.language_info.version]

    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.5
      hooks:
        - id: codespell
          additional_dependencies:
            - tomli

    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.13
      hooks:
        - id: validate-pyproject
