[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "setuptools_scm[toml]>=3.4",
    "setuptools_scm_git_archive",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
fallback_version = "999"

[tool.black]
line-length = 100
target-version = ["py38"]

[tool.isort]
profile = "black"
skip_gitignore = true
float_to_top = true
combine_as_imports = true
known_first_party = "flox"
known_third_party = [
    "dask",
    "numpy",
    "numpy_groupies",
    "pandas",
    "pkg_resources",
    "pytest",
    "setuptools",
    "xarray"
]

[tool.mypy]
allow_redefinition = true
exclude = "properties|asv_bench|doc|tests|flycheck"
files = "flox/*.py"
show_error_codes = true

[[tool.mypy.overrides]]
module=[
    "dask.*",
    "numpy_groupies",
    "pandas",
    "setuptools",
    "toolz"
]
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "--tb=short"
