name: flox-tests
channels:
  - conda-forge
dependencies:
  - asv
  - cachey
  - codecov
  - dask-core
  - netcdf4
  - pandas
  - numpy>=1.22
  - lxml # for mypy coverage report
  - matplotlib
  - pip
  - pytest
  - pytest-cov
  - pytest-pretty
  - pytest-xdist
  - xarray
  - pre-commit
  - numbagg>=0.3
  - numpy_groupies>=0.9.19
  - pooch
  - toolz
  - numba
  - numbagg>=0.3
  - scipy
