name: CI Upstream
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches:
      - main
    paths:
      - ".github/workflows/upstream-dev-ci.yaml"
      - "ci/upstream-dev-env.yml"
      - "flox/*"
  schedule:
    - cron: "0 0 * * *" # Daily “At 00:00” UTC
  workflow_dispatch: # allows you to trigger the workflow run manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upstream-dev:
    name: upstream-dev
    runs-on: ubuntu-latest
    if: ${{
      (contains(github.event.pull_request.labels.*.name, 'test-upstream') && github.event_name == 'pull_request')
      || github.event_name == 'workflow_dispatch'
      || github.event_name == 'schedule'
      }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set environment variables
        run: |
          echo "PYTHON_VERSION=${{ matrix.python-version }}" >> $GITHUB_ENV
      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install upstream dev dependencies
        run: |
          # Install with upstream development versions using separate config
          uv sync --group upstream-dev --config-file uv-upstream.toml --no-dev


      - name: List deps
        run: |
          uv pip list
      - name: Run Tests
        if: success()
        id: status
        run: |
          uv run --no-dev pytest -rf -n auto --cov=./ --cov-report=xml \
            --report-log output-${{ matrix.python-version }}-log.jsonl \
             --hypothesis-profile ci
      - name: Generate and publish the report
        if: |
          failure()
          && steps.status.outcome == 'failure'
          && github.event_name == 'schedule'
          && github.repository_owner == 'xarray-contrib'
        uses: xarray-contrib/issue-from-pytest-log@v1
        with:
          log-path: output-${{ matrix.python-version }}-log.jsonl
